<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">TemperatureLogger</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="full_temperature_log">
                <span class="oi oi-book" aria-hidden="true"></span> Temperature History
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ok_temperature_log">
                <span class="oi oi-circle-check" aria-hidden="true"></span> OK Temperatures
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="violation_temperature_log">
                <span class="oi oi-warning" aria-hidden="true"></span> Violations History
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sensor_configuration">
                <span class="oi oi-sun" aria-hidden="true"></span> Configure Sensor
            </NavLink>
        </li>
    </ul>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
